{% extends 'home/base.html' %} {% load static %}
<!--Placeholder -->
{% block body_class%}mode-login{% endblock %}
<!--Placeholder-->
{% block content %}
<canvas id="bg"></canvas>

<div id="login-container">
  <h1>Create Account</h1>

  <form method="POST" action="{% url 'signup' %}">
    {% csrf_token %} {{ form.non_field_errors }}
    <div class="field">{{ form.username }}</div>
    <div class="field">{{ form.email }}</div>
    <div class="field">{{ form.password1 }}</div>
    <div class="field">{{ form.password2 }}</div>
    <button type="submit">Sign Up</button>
  </form>

  <p class="small-link">
    Already have an account?
    <a href="{% url 'index' %}">Log In</a>
  </p>

  <div class="messages">
    {% for m in messages %}
    <div class="msg {{ m.tags }}">{{ m }}</div>
    {% endfor %}
  </div>
</div>
{% endblock %} {% block scripts %}
<script
  type="module"
  src="{% static 'home/js/main.js' %}"
  data-mode="login"
></script>
{% endblock %}
